@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #ef4444;
  /* Red-500 - More vibrant */
  --color-primary-hover: #dc2626;
  /* Red-600 */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}