name: Staging FE CI/CD

on:
  push:
    branches: [ staging ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/teeko-staging-site-fe:staging
          build-args: |
            NEXT_PUBLIC_API_URL=https://stagingapi.teeko.ai
            NEXT_PUBLIC_AI_APP_URL=https://app.teeko.ai
            BACKEND_URL=http://backend-site:3000

      - name: Trigger Portainer Deployment
        run: |
          curl -X POST "https://stagingport.teeko.ai/api/stacks/webhooks/e856af60-b222-4efd-a0c0-3425a30e7ea9"
